*{
    margin: 0;
    padding: 0;
    list-style: none;

}

#nav{
    width: 100%;
     height: 95px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #568b85;
    
}
#nav .Logo{
    display: flex;
    width: 100px;
    height: 103px;
    margin-left: 20px;
}
#nav .Logo img{
width: 100%;

}
#nav .middle{
    display: flex;
    
}
#nav .middle ul{
    display: flex;
    align-items: center;
    margin: 0;

}

#nav .middle ul li{
    margin-right: 25px;
   font-size: 18px;
}
#nav .middle ul li {
    margin-right: 25px;
    font-size: 18px;
    position: relative; /* Ensure proper positioning of pseudo-element */
}

#nav .middle ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #360033, #0b8793);
    transition: width 0.4s ease; /* Transition the width property */
}

#nav .middle ul li:hover::after {
    width: 100%; /* Expand the border to full width on hover */
}
#nav .middle ul li a{
    text-decoration: none;
    color:   #fff
}
#nav .right .btn{
    background: linear-gradient(to right, #360033, #0b8793);
        border-radius: 5px;
        border : none;
        margin: 0;
        padding: 5px 20px;
        
}
.user-icon{
    position: relative;
    cursor: pointer;
    font-size: 35px;
    margin-right: 10px;
}
.profile{
    width: 100px;
    color: #fff;

}
.logout{
    display: flex;
    width: 250px;
    height: 250px;
    background-color: #1d1f1f;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    position: absolute;
    top: calc(16% + -62px);
    right: 30px;
    border-radius: 15px;
}

.logout .icon-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #19293e;
    z-index: 0;
    border-radius: 15px 15px 0 0;
}
.logout .btn{
    background: linear-gradient(to right, #360033, #0b8793);
    border-radius: 5px;
    border : none;
    margin: 0;
    padding: 5px 20px;
    width: 100px;
    color: #fff;
}
.logout .user-icon{
    position: relative;
    top: 21px;
    font-size: 50px;
}
.userprofile{
    list-style: none;
}